body {
    background-color: rgba(160, 75, 75, 0.842);
    font-family: 'Indie Flower', cursive;
    width: 100vw;
}
header{
    padding-top: 3rem;
    text-align: center;
}
.nav-link {
    font-size: 1.3rem;
    color: black;
}
.container {
    background-color: rgb(255, 255, 255);
    padding-bottom: 10rem;
    
}
.row {
    width: 80vw;
    margin: 0 auto;

}
.display{
    margin-bottom: 2rem;
    h5 {
        font-size: 1.1rem;
    }
    p{
        margin-bottom: 0.1rem;
    }
}
.name{
    justify-self: flex-start;
}
.image-box {
    display: flex;
    align-items: flex-start;
    height: 30rem;
    @media screen and (max-width: 768px) {
        height: 20rem;
    }
    @media screen and (max-width: 576px) {
        height: 0rem;
    }
}
.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-box{
    width: 80%;
    .image{
        height: 300px;
    }
}

