.course-bg {
    background: rgb(206,221,227);
    background: linear-gradient(90deg, rgba(206,221,227,1) 2%, rgba(255,255,255,1) 2%, rgba(164,164,164,0.24693627450980393) 3%, rgba(255,255,255,1) 100%);
}

.title {
    width:100%;
    height: 10%;
}

.course-img {
    position: absolute;
    top: 0;
    margin-top: 66px;
    left: 380px;
    width: 85px;
    height: auto;
}


#haskell {
        position: absolute;
        top: 0;
        margin-top: 71px;
        left: 296px;
        width: 84px;
        height: auto;
}

#brainfuck {
    position: absolute;
    top: 0;
    margin-top: 67px;
    left: 380px;
    width: 84px;
    height: auto;
}


#js {
    position: absolute;
    top: 0;
    margin-top: 67px;
    left: 380px;
    width: 84px;
    height: auto;
}

h2 {
    font-size: 2.5rem;
}

p, pre {
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.signup-banner {
    width: 80%;
    transition: 0.25s;
}

aside {
    -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
    background-color: #FFF;
    margin: 10px;
}


/*--------------BOOTSTRAP SIDEBAR---------------------*/

.collapse navbar-collapse {
    position: fixed;
    left:0;
    top:10%;
    display: visible!important;
}


/*----------------------------------------------------*/

.content_no_sidebar {
position: relative;
top:0;
left:0;
}


pre {
    border: 1px solid #222;
    border-radius: 1em;
    transition: 0.25s;
}
pre:hover {
    -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
}

  .title {
    font-size: 5rem;
    height: 10rem;
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 3px solid black;
  }
    .title img {
      max-height: 100%;
    }

  .subtitle {
    text-align: right;
    margin-right: 5vw;
    margin-left: 20vw;
    margin-bottom: 2rem;
    background: black;
    color: #0f0;
  }

  .content-with-sidebar {
    margin: 0 4rem;
    text-align: justify;
    display: grid;
    grid-template-columns: 7fr minmax(200px,3fr);
    grid-gap: 2em;
  }

  .sidebar-content {
    position: sticky;
    top: 90px;
  }

  .sidebox {
    margin: 1em;
    margin-bottom: 5em;
    padding: 1em;
    box-shadow: 0 0 2px 2px #222;
    position: relative;
  }
    .sidebox img {
      max-width: 100%;
    }

  .signup-banner {
    background: darkred;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    padding: 1em;
    font-style: italic;
    text-decoration: underline;
    border-radius: 6px;
  }
    .signup-banner:hover {
      background: darkgreen;
    }

  .news-item {
    margin-bottom: 1rem;
  }
    /* .news-item div:nth-child(1) {
      
    } */

  .teachers-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  .box-title {
    font-size: 1.5rem;
    position: absolute;
    top:  -2.2rem;
    left: 0;
  }

  .text {
    line-height: 2rem;
  }

  .strikethru {
    text-decoration: line-through;
  }

  .vidbox {
    margin: 2rem 0;
    text-align: center;
  }
    .vidbox * {
      margin-bottom: 2rem;
    }
  
  .fullwidth-content {
    margin-top: 3rem;
    background: #cedde3;
    padding: 2rem 0;
    opacity: 1;
  }

  .sub-headline {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    font-variant: small-caps;
    line-height: 5rem;
  }

  .offers-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .offers-item {
    width: 30vw;
    height: 30vw;
    background: white;
    box-shadow: 0 0 2px 2px #000a;
  }

  .offers-item div { margin: 2em; }

  .testo-box {
    text-align: center;
  }
  
  .testo-item {
    background: #fffa;
    border-radius: 10px;
    padding: 1rem 0;
    margin-bottom: 2rem;
  }

    .testo-item q {
      font-style: italic;
    }